---
// pages/resources.astro
import Layout from '~/layouts/PageLayout.astro';
import Sidebar from 'src/components/ui/FilterSidebar.astro';
import TopFilter from 'src/components/ui/TopFilter.astro';
import ResourcesContainer from 'src/components/ui/ResourceContainer.astro';
import ResourceBox from 'src/components/ui/ResourceBox.astro';
import resourcesData from 'data/resources.json';

// Access the array inside the "Sheet1" property
const resources = Array.isArray(resourcesData.Sheet1) ? resourcesData.Sheet1 : [];
const metadata = {
  title: 'Resources',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <section style="text-align: center; padding: 4rem 2rem; background-color: #f0f8ff;">
    <div style="display: inline-block; position: relative;">
      <h1 style="font-size: 3rem; font-weight: bold; background: linear-gradient(to right, #07377e, #35a5c2); -webkit-background-clip: text; color: transparent; margin-bottom: 0.1rem;">
        Resources
      </h1>
    </div>
    <h1 style="font-size: 1.2rem; color: #555; max-width: 800px; margin: 1rem auto; line-height: 1.6;">
      Find sample roleplays, practice tests, quizlets, and more!
    </h1>
  </section>

    <div class="container mx-auto my-8">
    <div class="flex">
      <div class="w-1/4 mr-4">
        <Sidebar client:load />
      </div>
      <div class="flex-1">
        <ResourcesContainer>
          <!-- Passing TopFilter into the "top-filter" slot -->
          <TopFilter client:load slot="top-filter" />
          
          <!-- Passing resource boxes into the "resource-boxes" slot -->
          {resources.map((resource) => (
            <ResourceBox
              type={resource.type}
              cluster={resource.cluster}
              name={resource.name}
              link={resource.link}
              slot="resource-boxes"
            />
          ))}
        </ResourcesContainer>
      </div>
    </div>
  </div>
</Layout>

